
.menu-titulo{
    display: flex;
    font-size: 18px;
    background: blue;
    color:white;
}

.menu-titulo__p{
    margin-right: 100px;
}

.menu-titulo__a{
    justify-content: center;
    color:white
}

.flex-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

.flex-container__div{
    color:white;
    background: blue;
    text-align: center;
    height: 150px;
    width: 150px;
    border: 2px solid blue;
}